#!/usr/bin/env bash

for line in $(cat .env); do
    eval "export $line"
done

export aws_access_key_id=$(aws configure get aws_access_key_id)
export aws_secret_access_key=$(aws configure get aws_secret_access_key)
