DOCKER_FILE_PATH=docker/Dockerfile
PROJECT_NAME=cloud
DOCKER_COMPOSE_FILE=docker/docker-compose.yml
DOCKER_PROJECT_NAME=pricelist
REPSY_USERNAME=
REPSY_PASSWORD=

MYSQL_HOST=172.28.0.3
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=pricelist_dev
